header
  h1 
    a(href="/") CSS Animations
  nav 
    a(href="transform.html") transform
    a(href="transform-origin.html") transform origin
    a(href="transition.html") transition
    a(href="#") keyframes