header
  h1 
    a(href="index.html") CSS Animations
  nav 
    a(href="transform.html") transform
    a(href="transform-origin.html") transform-origin
    a(href="transform-style.html") transform-style
    a(href="backface-visibility.html") backface-visibility
    a(href="transition.html") transition
    a(href="#") keyframes