extends layouts/example.pug

block content
  h1 Animation
  .css-content
    .col
      .box
        input(id="play" type="checkbox" checked)
        .animation.one 
          p one
        .animation.two 
          p two
        .animation.three 
          p three
        .animation.four 
          p four
        .animation.five
          div.container
            div.fill
              p Loading