extends layouts/example.pug

block content
  h1 Backface Visibility Property - Basic Usage
  .css-content
    .col
      .box
        .backface-visibility.one
      .box
        .backface-visibility.two