extends layouts/example.pug

block content
  h1 Transition
  .css-content
    .col
      .box
        .keyframes.one 
          p one
      .box
        .keyframes.two 
          p two
      .box
        .keyframes.three 
          p three
      .box
        .keyframes.four 
          p four