extends layouts/example.pug

block content
  h1 Transform Property - Basic Usage
  h2 ex. transform: { translate(10px, 20px); }
  .css-content
    .col
      .box
        .transform.one 
          p one
          p translate(20px, 10px);
      .box
        .transform.two
          p two
          p translateY(15px);
      .box
        .transform.three
          p three
          p translateX(100px);
      .box
        .transform.four
          p four
          p scale(1.35);
      .box
        .transform.five 
          p five
          p scaleX(2);
    .col
      .box
        .transform.six
          p six
          p rotate(-15deg);
      .box
        .transform.seven
          p seven
          p skew(15deg, 10deg);
      .box
        .transform.eight
          p eight
          p skewY(-10deg);
      .box
        .transform.nine
          p nine
          p rotateX(30deg);
      .box
        .transform.ten
          p ten
          p rotateY(-33deg);
    .col
      .box
        .transform.eleven
          p eleven
          p rotate3d(0, 1, 0, 15deg);
      .box
        .transform.twelve
          p twelve
          p rotate3d(1, -0.5, 1, 33deg);
      .box
        .transform.thirteen
          p thirteen
          p rotate3d(1,1,0,45deg)
      .box
        .transform.fourteen
          p fourteen
          p skew(25deg, 15deg);
      .box
        .transform.fifteen
          p fifteen
          p rotate(0.125turn);

  h3 Code Examples
      
  .syntax-content
    +formatCssCode("CSS", "div.one {", "transform: translate(20px, 10px);", "}")