extends layouts/example.pug

block content
  h1 Transform-Style Property - Basic Usage
  .css-content
    .col
      .box
        .transform-style.one
          p one
          .one-inside
            p one inside
      .box.pbox
        .transform-style.two
          p two
          p perspective: 500px;
          p perspective-origin: 0 10%;
        .transform-style.two
          p two
          p perspective: 500px;
          p perspective-origin: 0 10%;
        .transform-style.two
          p two
          p perspective: 500px;
          p perspective-origin: 0 10%;