extends layouts/example.pug

block content
  h1 Transition
  .css-content
    .col
      .box
        .transition.one 
          p one
      .box
        .transition.two 
          p two
      .box
        .transition.three 
          p three
      .box
        .transition.four 
          p four