.backface-visibility {
  &.one {
    width: 500px;
    height: 375px;
    border: 1px solid $color-black;
    background: url(../images/house.jpg);
  }
}

.backface-visibility {
  &.two {
    width: 500px;
    height: 375px;
    border: 1px solid $color-black;
    background: url(../images/house.jpg);
    backface-visibility: hidden;
    transition: transform 0.2s;

    &:hover {
      transform: perspective(500px) rotateY(10deg);
      transform-style: preserve-3d;
      transform-origin: center left;
    }
  }
}

