.box {
  &.pbox {
    perspective: 500px;
    perspective-origin: 0 10%;
  }
}

.transform-style {
  &.one {
    height: 200px;
    width: 200px;
    border: 1px solid $color-black;
    background-color: lighten($color-highlight, 1%);
    transform: perspective(300px) rotateX(25deg);
    transform-style: preserve-3d;
  }

  .one-inside {
    margin: 2rem 5rem;
    height: 100px;
    width: 100px;
    border: 1px solid $color-white;
    background-color: lighten($color-highlight-2, 1%);
    transform: perspective(300px) rotateY(55deg);
  }

  &.two {
    margin: 0 2rem;
    height: 200px;
    width: 200px;
    border: 1px solid $color-black;
    background-color: lighten($color-highlight, 1%);
    transform: rotateX(45deg);
  }
}