.col {
  display: flex;
  flex-direction: column;
  flex: 1;

  .box {
    display: flex;
    align-items: center;
    border: 1px solid #BBB;
  
    .transform {
      flex: 0 0 15rem;
      height: 15rem;
      margin: 10rem;
  
      p {
        margin: 1rem;
        color: $color-white;
        font-size: 1.6rem;
      }

      p:first-child {
        color: #000;
      }
    }
  }

  .one {
    background-color: lighten($color-highlight, 1%);
    transform: translateX(100px);
  }

  .two {
    background-color: lighten($color-highlight, 7%);
    transform: translateY(25px);
  }

  .three {
    background-color: lighten($color-highlight, 14%);
  }

  .four {
    background-color: lighten($color-highlight, 21%);
  }
  
  .five {
    background-color: lighten($color-primary, 1%);
  }

  .six {
    background-color: lighten($color-primary, 4%);
  }

  .seven {
    background-color: lighten($color-primary, 8%);
  }

  .eight {
    background-color: lighten($color-primary, 12%);
  }
}

